body{
    background-image: url(https://i.ytimg.com/vi/ibdh2zeWjCU/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


img{
    width: 400px;
    border-radius: 1100px;
}